@import "./variables.module";

.container {
  background: $offBlack;
  color: $white;
  overflow-x: hidden;
}

.maxWidth {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $darkGray;
}

.heroOuter {
  background: url("/images/hero.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero {
  position: relative;
  padding: 5rem 0;
}

.button {
  background: $green;
  color: $offBlackText;
  font-size: 1rem;
  padding: 2rem 5rem;
  border: 0;
  text-decoration: none;
  display: block;
  max-width: 30rem;
  margin: 3rem auto;
  text-align: center;
  line-height: 0;
  font-family: SequelSansBold;
  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.downArrow {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.downArrowImage {
  transform: rotate(-90deg);
}

.smallText {
  font-size: 1rem;
  color: $textGray;
  margin-bottom: 5rem;
}

.logoBigger {
  display: none;
  @include bigger {
    display: inline-block;
  }
}

.logoSmaller {
  display: inline-block;
  @include bigger {
    display: none;
  }
}

.textAndImageOuter {
  padding: 5rem 0;
  background-image: none;
  @include bigger {
    padding: 7rem 0;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 60% auto;
  }
}

.textAndImageSection {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  @include bigger {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.textSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  @include bigger {
    max-width: 85vw;
  }
}

.imageSection {
  @include bigger {
    display: none;
  }
}

.textAndImageOuter1 {
  @include bigger {
    background-image: url('../public/images/chart.png');
  }
}
.textAndImageOuter2 {
  @include bigger {
    background-image: url('../public/images/chart2.png');
  }
}

.textAndImageOuter3 {
  @include bigger {
    background-image: url('../public/images/chat.png');
    background-position: left center;
    background-size: auto 100%;
  }
}

.checkItOut {
  margin-bottom: 9rem;
}