@import "./variables.module";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  margin-bottom: 8.5rem;
  border: 1px solid $darkGray;
  padding: 2rem;
  @include bigger {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

.iconText {
  color: $twitterGray;
  font-size: 1rem;
  margin: 0.25rem 0 1.5rem;
  @include bigger {
    margin-bottom: 0;
  }
}
